//AngularJS
script(type='text/javascript', src='/js/angular/angular.min.js')
script(type='text/javascript', src='/js/angular/angular-cookies.min.js')
script(type='text/javascript', src='/js/angular/angular-resource.min.js')
script(type='text/javascript', src='/js/angular/angular-route.min.js')
script(type='text/javascript', src='/js/angular/angular-sanitize.min.js')


//Angular UI
script(type='text/javascript', src='/js/angular/ui-bootstrap-tpls.min.js')
script(type='text/javascript', src='/js/angular/ui-bootstrap.min.js')
script(type='text/javascript', src='/js/angular/angular-animate.min.js')
script(type='text/javascript', src='/js/angular/ng-tags-input.min.js')


script(type='text/javascript', src='/js/angular-scroll-glue.js')
script(type='text/javascript', src='/js/webrtc.io.js')
script(type='text/javascript', src='/js/heroes.js')
script(type='text/javascript', src='/js/gravatar.js')
script(type='text/javascript', src='/js/eyes.js')
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/modernizr.js')
script(type='text/javascript', src='/js/handlebars.js')
script(type='text/javascript', src='/js/ventus.js')
script(type='text/javascript', src='/js/ng-i18n.min.js')


//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/rooms.js')
script(type='text/javascript', src='/js/services/userhandler.js')
script(type='text/javascript', src='/js/services/fileservice.js')
script(type='text/javascript', src='/js/services/chatservice.js')
script(type='text/javascript', src='/js/services/mediaservice.js')
script(type='text/javascript', src='/js/services/windowhandler.js')
script(type='text/javascript', src='/js/services/uihandler.js')

//Application Controllers
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/controllers/rooms.js')
script(type='text/javascript', src='/js/controllers/records.js')
script(type='text/javascript', src='/js/controllers/viewdesktop.js')
