@keyframes glow {
	0% {
	  color: $textcolor;
	}
	30% {
	  color: $maincolor;
	}
	70% {
	  color: $maincolor;
	}
	100% {
	  color: $textcolor;
	}
}

@-moz-keyframes glow {
	0% {
	  color: $textcolor;
	}
	30% {
	  color: $maincolor;
	}
	70% {
	  color: $maincolor;
	}
	100% {
	  color: $textcolor;
	}
}

@-webkit-keyframes glow {
	0% {
	  color: $textcolor;
	}
	30% {
	  color: $maincolor;
	}
	70% {
	  color: $maincolor;
	}
	100% {
	  color: $textcolor;
	}
}

@keyframes borderglow {
	0% {
	  background: $bgcolor; 
	}
	30% {
	  background: $maincolor; 
	}
	70% {
	  background: $maincolor;
	}
	100% {
	  background: $bgcolor; 
	}
}

@-moz-keyframes borderglow {
	0% {
	  background: $bgcolor; 
	}
	30% {
	  background: $maincolor; 
	}
	70% {
	  background: $maincolor;
	}
	100% {
	  background: $bgcolor; 
	}
}

@-webkit-keyframes borderglow {
	0% {
	  background: $bgcolor; 
	}
	30% {
	  background: $maincolor; 
	}
	70% {
	  background: $maincolor;
	}
	100% {
	  background: $bgcolor; 
	}
}

@keyframes opacityglow {
	0% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}


@-moz-keyframes opacityglow {
	0% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}


@-webkit-keyframes opacityglow {
	0% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}


@keyframes rotar{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100%{
    transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@-moz-keyframes rotar{
  0%{
    -moz-transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    -moz-transform:rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100%{
    -moz-transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes rotar{
  0%{
    -webkit-transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    -webkit-transform:rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100%{
    -webkit-transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotarIz{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100%{
    transform:rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

@-moz-keyframes rotarIz{
  0%{
    -moz-transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    -moz-transform:rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100%{
    -moz-transform:rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes rotarIz{
  0%{
    -webkit-transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    -webkit-transform:rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100%{
    -webkit-transform:rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}