<div id="home" data-ng-controller="RoomsController" data-ng-init="init()">
	<header class="home_nav">
		<div class="inner">
			<span id="search"><i class="fa fa-desktop"></i></span>
			<a id="logo" href="/#!/" >
				<h2>L<span id="eyeslogo2"></span>WID</h2>
			</a>
		</div>
	</header>
 	<section id="texts" class="standalone">
		<div class="inner">
			<h1 class="slogan">{{resourceBundle.aboutDesktop}}</h1>
			<p>{{resourceBundle.aboutDesktopDescr}}</p>

			<h3>{{resourceBundle.step1Title}}</h3>
			<p class="hmsg"><a href="chrome://flags/#enable-usermedia-screen-capure"> chrome://flags/#enable-usermedia-screen-capture</a></p>
		
			<h3>{{resourceBundle.step2Title}}</h3>
			<p class="hmsg" ng-bind-html="resourceBundle.step2Descr" />
		
			<h3>{{resourceBundle.step3Title}}</h3>
			<p class="hmsg" ng-bind-html="resourceBundle.step3Descr" />
			<p><img src="img/paste-url.jpg" title="Paste the Chrome Flags URL"></p>
		
			<h3>{{resourceBundle.step4Title}}</h3>
			<p class="hmsg" ng-bind-html="resourceBundle.step4Descr" />
			<p><img src="img/press-enable.jpg" title="Press Enable to activate the option" /></p>
		
			<h3>{{resourceBundle.step5Title}}</h3>
			<p class="hmsg" ng-bind-html="resourceBundle.step5Descr" />
			<p><img src="img/relaunch.jpg" title="Relaunch Chrome to apply the changes" /></p>
		</div>
	</section>
	<footer class="inner">
		&copy; {{resourceBundle.footerText}}
	</footer>
</div>