<a href="https://github.com/loowid/loowid" style="z-index:9999;"><img style="position: absolute; top: 0px; right: 0; border: 0; z-index: 10" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div id="home" data-ng-controller="RoomsController" data-ng-init="init()">
	<header class="home_nav">
		<a class="twitterLink" href="http://twitter.com/LoowidCOM" target="_blank"><img src="img/twitter.png" ></a>
	</header>
	<section id="starred">
		<div class="inner">
			<aside id="sharingroom">
				<h1 class="slogan">{{resourceBundle.loowid}}</h1>
				<p class="welcome">{{resourceBundle.starredText}}. {{resourceBundle.startsharing}}</p>
			</aside>
			<article id="formroom">
				<form name="createForm" class="navbar-left navbar-form" data-ng-submit="create()" novalidate>
					 <div id="cf" ng-click="resetName()" >
						<img class="bottom" src="img/hero.png" title="{{resourceBundle.shhh}}" >
						<img class="top" src="img/person.png" title="{{resourceBundle.shhh}}" >
					</div>
					<div class="form_data">
						<input id="mname" type="text" data-ng-model="ui.name" ng-pattern="global.namePattern" required class="input-lg form-control" placeholder="{{resourceBundle.heroPlaceholder}}" data-ng-show="isValidBrowser() && !isRoomAvailable()" autofocus> 
						<button id="main_button" type="submit" data-ng-show="isValidBrowser() && !isRoomAvailable()">{{resourceBundle.loowidnow}}</button>
						<button id="goroom_button" type="submit" data-ng-show="isValidBrowser() && isRoomAvailable()">{{resourceBundle.gototheroom}}</button>
		  				<div class="termscontainer">
							<p ng-show="termsnotaccepted" class="alert">{{resourceBundle.youmustacceptterms}}</p>
							<p class="terms">
								<input ng-model="termsaccepted" data-ng-show="isValidBrowser() && !isRoomAvailable()" type="checkbox" id="terms" ng-click="clickterms($event)" />
								<label for="terms" ng-bind-html="resourceBundle.acceptterms" data-ng-show="!isRoomAvailable()"></label>
							</p>
						</div>
						<img src="img/ajax-loader-bar.gif" ng-show="creating"/>
						<div data-ng-show="!isValidBrowser()">
							<h2>{{resourceBundle.yourbrowsernot}}</h2>
						</div>
						<p class="mission" data-ng-hide="isValidBrowser()">{{resourceBundle.selectsecretinvalid}}</p>
					</div>
				</form>
				<aside id="whatarewedoing">
					<iframe allowTransparency="true" frameborder="0" scrolling="no" src="https://bitnami.com/product/loowid/widget" style="border:none;width:230px; height:100px;"></iframe>
				</aside>		
			</article>
		</div>
	</section>
	<section id="explain_texts">
		<article class="inner">
			<div class="homeinfo">
				<h2>{{resourceBundle.qwhatcanido}}</h2>
				<p>{{resourceBundle.textsheader}}</p>
				<ul>
					<li>{{resourceBundle.textsitemshare}}</li>
					<li>{{resourceBundle.textsitemcreate}}</li>
					<li>{{resourceBundle.textsitemsharefile}}</li>
				</ul>
				<p>{{resourceBundle.textslink}}</p>
				<h2>Or you can use our APP in your own server</h2>
				<p>You will need to install MongoDB and just...</p>
			<code>
				<pre>
git clone <span class="repo">git@github.com:loowid/loowid.git</span>
npm install
grunt
<span class="codeinstall">...</span>
<span class="codeok">//profit!</span></pre>
			</code>
			</div>
		</article>
	</section>
	<footer class="inner">
		&copy; {{resourceBundle.footerText}} {{ui.version}} ({{ui.node}})
	</footer>
</div>