<div id="broadcaster" data-ng-controller="ViewDesktopController" data-ng-init="init()">
	<header>
		<div class="main-header">
			<span class="loowidLogo">LooWID</span>
			<span>{{ui.access.title}}</span>
			<a  title="{{resourceBundle.titleDisableeaudionoti}}" ng-hide="ui.notificationReady || !ui.audible" ng-click="enableAudio()" class="btn btn-icon" href=""><i class="fa fa-bell"></i><span class="inner_label">{{resourceBundle.notifaudible}}</span></a>
			<a title="{{resourceBundle.titleActivateaudionoti}}" ng-hide="ui.notificationReady || ui.audible" ng-click="enableAudio()" class="btn btn-icon" href=""><i class="fa fa-bell-o"></i><span class="inner_label">{{resourceBundle.notifnotaudible}}</span></a>
			<a title="{{resourceBundle.titleLeaveroom}}" ng-click="roomLeave()" href=""><span class="leave">{{resourceBundle.leaveroom}}  <i class="fa fa-power-off"></i></span></a>
		</div>
		<nav class="toolbar">
			<ul>
				<li id="share_screen" class="barbutton" ng-hide="ui.canShareDesktop || ui.access.moderated">
					<p title="{{resourceBundle.titleSharedesktop}}"  ng-click="showDesktopAlertMessage()"><i class="fa fa-desktop"></i> <span class="title">{{resourceBundle.sharedesktopmainbar}}</span></p>
				</li>
				<li id="share_screen" class="barbutton" ng-show="ui.canShareDesktop">
					<div title="{{resourceBundle.titleSharedesktop}}" ng-hide="isRecording('screen') || ui.access.moderated  || isInitializingMedia('screen') " ng-click="startRecording('screen')"><i class="fa fa-desktop"></i> <span class="title">{{resourceBundle.sharedesktopmainbar}}</span></div>
					<div ng-show="isInitializingMedia('screen')"><i class="fa fa-desktop"></i> <span class="title">{{resourceBundle.initcapture}}</span></div>
					<div title="{{resourceBundle.titleStopsharedesktop}}"  ng-show="isRecording('screen')" ng-click="stopRecording('screen')"><i class="tachado activo">/</i><i class="fa fa-desktop activo"></i> <span class="title">{{resourceBundle.stopsharedesktopmainbar}}</span></div>

					<div class="dropdown" id="dropdown"  ng-show="ui.canShareDesktop && !ui.access.moderated  || isInitializingMedia('screen') " ng-click="ui.showResolutionMenu=!ui.showResolutionMenu"	>
						<div title="{{resourceBundle.titleChangeresolution}}" ng-hide="isRecording('screen') || ui.access.moderated || isInitializingMedia('screen')" ><i class="fa fa-sort-down"></i> <span class="title"></span></div>
						<ul ng-show="!isRecording('screen') && ui.showResolutionMenu && !ui.access.moderated" class="resolutionlist">
							<li  data-ng-repeat="resolution in ui.resolutions" >
								<p ng-click="changeToResolution($index)"><span>{{resolution.x}}</span> x <span> {{resolution.y}}</span><i ng-show="ui.currentResolution==$index" class ="fa fa-circle"></i></p>
							</li>
						</ul>
					</div>


				</li>

				<li id="share_webcam" class="barbutton">
					<p title="{{resourceBundle.titleSharevideo}}" ng-hide="isRecording('video') || ui.access.moderated  || isInitializingMedia('video') " ng-click="startRecording('video')"><i class="fa fa-video-camera"></i> <span class="title">{{resourceBundle.sharewebcammainbar}}</span></p>
					<p ng-show="isInitializingMedia('video')"><i class="fa fa-video-camera"></i> <span class="title">{{resourceBundle.initcapture}}</span></p>
					<p title="{{resourceBundle.titleStopsharevideo}}"  ng-show="isRecording('video')" ng-click="stopRecording('video')"><i class="tachado activo">/</i><i class="fa fa-video-camera activo"></i> <span class="title">{{resourceBundle.stopsharewebcammainbar}}</span></p>
				</li>
				<li id="share_audio" class="barbutton">
					<p title="{{resourceBundle.titleShareaudio}}"  ng-hide="isRecording('audio') || ui.access.moderated || isInitializingMedia('audio')" ng-click="startRecording('audio')"><i class="fa fa-microphone"></i> <span class="title">{{resourceBundle.shareaudiobar}}</span></p>
					<p ng-show="isInitializingMedia('audio')"><i class="fa fa-micophone"></i> <span class="title">{{resourceBundle.initcapture}}</span></p>
					<p title="{{resourceBundle.titleStopshareaudio}}"  ng-show="isRecording('audio')" ng-click="stopRecording('audio')"><i class="tachado activo">/</i><i class="fa fa-microphone activo"></i> <span class="title">{{resourceBundle.stopshareaudiobar}}</span></p>
				</li>

				<li id="mute_audio" ng-show="isRecording('audio')" class="barbutton">
					<p title="{{resourceBundle.titleMute}}"  ng-click="muteAudio()" ng-hide="ui.isMuted"><i class="fa fa-volume-off"></i> <span class="title">{{resourceBundle.mutemainbar}}</span></p>
					<p title="{{resourceBundle.titleUnmute}}" ng-click="unmuteAudio()" ng-show="ui.isMuted"><i class="fa fa-volume-up"></i> <span class="title">{{resourceBundle.unmutemainbar}}</span></p>
				</li>
			</ul>
		</nav>
	</header>
	<div id="moveZone">
		<div id="editName" ng-class="ui.editNameClass">
			<form name="editNameForm" novalidate data-ng-submit="changeName()">
				<fieldset>
					<p class="toolbar">
						<a href="" ng-click="changeName()">{{resourceBundle.accesssave}}</a>
						<a href="" ng-click="enableEditName()" class="warnedbtn">{{resourceBundle.gravatarclose}}</a>
					</p>
					<p class="hero">
						<a title="{{resourceBundle.titleChangeAvatarImage}}" href="" ng-click="ui.tmpHero='img/hero.jpg'" ng-show="ui.tmpHero==='img/heroine.jpg' && !ui.gravatar">
							<i class="fa fa-venus"></i>
							<img ng-src="{{ui.tmpHero}}"/>
						</a>
						<a title="{{resourceBundle.titleChangeAvatarImage}}" href="" ng-click="ui.tmpHero='img/heroine.jpg'" ng-show="ui.tmpHero==='img/hero.jpg' && !ui.gravatar">
							<i class="fa fa-mars"></i>
							<img ng-src="{{ui.tmpHero}}"/>
						</a>
					</p>
					<p class="herolab"><label for="chgname">{{resourceBundle.gravatarname}}</label></p>
					<p><input id="chgname" type="text" data-ng-model="ui.tmpName" ng-pattern="global.namePattern" required class="input-lg" size="15"></p>
					<p><label for="chgavatar">{{resourceBundle.gravataremail}}</label></p>
					<p><input id="chgavatar" type="email" data-ng-model="ui.gravatar" class="input-lg" size="15"></p>
					<p><input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></p><!-- Needed to submit with enter key -->
				</fieldset>
			</form>
		</div>
		<div id="modalformsbg" ng-show="ui.modals.length > 0" ></div>
		<div id="modalforms">
			<ul>
				<li ng-repeat="modal in ui.modals" ng-class="modal.class">
					<fieldset>
						<p class="toolbar">
							<a href="" ng-show="modal.ok" ng-click="modal.ok($index);">{{resourceBundle.modalok}}</a>
							<a href="" ng-show="modal.cancel" ng-click="modal.cancel($index);" class="warnedbtn">{{resourceBundle.modal.cancel}}</a>
							<a href="" ng-show="modal.yes" ng-click="modal.yes($index);">{{resourceBundle.modalyes}}</a>
							<a href="" ng-show="modal.no" ng-click="modal.no($index);" class="warnedbtn">{{resourceBundle.modalno}}</a>
						</p>
						<div ng-show="modal.avatar" class="avatar"><img ng-src="{{modal.avatar}}" /></div>
						<h3 ng-bind-html="modal.text"></h3>
					</fieldset>
				</li>
			</ul>
		</div>
		<div id="tutorialforms">
			<ul>
				<li ng-repeat="tutorial in ui.tutorials" >
					<div class="tutorialform" style="top:{{tutorial.top}}px; left:{{tutorial.left}}px" >
						<fieldset>
							<div ng-show="tutorial.avatar" class="avatar"><img ng-src="{{tutorial.avatar}}" /></div>
							<p ng-bind-html="tutorial.text"></p>

							<h4>
								<a href="" ng-show="tutorial.ok" ng-click="tutorial.ok($index);">{{resourceBundle.tutorialok}}</a>
								<a href="" ng-show="tutorial.cancel" ng-click="tutorial.cancel($index);">{{resourceBundle.tutorial.cancel}}</a>
								<a href="" ng-show="tutorial.previous" ng-click="tutorial.previous($index);">{{resourceBundle.tutorialprevious}}</a>
								<a href="" ng-show="tutorial.next" ng-click="tutorial.next($index);">{{resourceBundle.tutorialnext}}</a>
								<a href="" ng-show="tutorial.yes" ng-click="tutorial.yes($index);">{{resourceBundle.tutorialyes}}</a>
								<a href="" ng-show="tutorial.no" ng-click="tutorial.no($index);">{{resourceBundle.tutorialno}}</a>
							</h4>
						</fieldset>
					</div>
				</li>
			</ul>
		</div>
		<div id="connecting" ng-class="ui.connNew">
			<div class="connected" data-ng-repeat="user in ui.newusers">
				<img ng-src="{{user.avatar}}"/>
				<h3 ng-show="user.status=='CONNECTED'">{{user.name}} (+)</h3>
				<h3 ng-show="user.status=='DISCONNECTED'">{{user.name}} (-)</h3>
				<p class="user_title">{{resourceBundle.usertypeviewer}}</p>
			</div>
		</div>
		<aside id="connected" ng-class="ui.connectedClass">
			<span title="{{resourceBundle.titleOpencloseconnections}}" class="toggler" ng-click="toggleConnected()"><i class="fa fa-angle-left"></i></span>

			<div class="owner connected" ng-class="ui.getMiniClass('owner connected')">
				<div class="member">
					<div class="userleft">
						<img ng-src="{{ui.ownerAvatar}}" title="{{ui.ownerName}}"/>
						<div class="statusOutBar {{showStatusBar(ui)}} {{ui.hideBarStatus}}" >
							<div title= "{{resourceBundle._('titleAudioStatusOut',ui.name,resourceBundle['titlestate'+ui.connectionStatus.audio.out])}}"  class="statusOutBtn {{ui.connectionStatus.audio.out}}">
								<i class="fa fa-volume-up"></i>
							</div>
							<div title= "{{resourceBundle._('titleVideoStatusOut',ui.name,resourceBundle['titlestate'+ui.connectionStatus.video.out])}}"  class="statusOutBtn {{ui.connectionStatus.video.out}}">
								<i class="fa fa-eye"></i>
							</div>
							<div title= "{{resourceBundle._('titleScreenStatusOut',ui.name,resourceBundle['titlestate'+ui.connectionStatus.screen.out])}}" class="statusOutBtn {{ui.connectionStatus.screen.out}}">
								<i class="fa fa-laptop"></i>
							</div>
						</div>
						<div class="statusBar" >
							<div title= "{{resourceBundle._('titleAudioStatus',ui.name,resourceBundle['titlestate'+ui.connectionStatus.audio.in])}}"  class="statusBtn {{ui.connectionStatus.audio.in}}">
								<i class="fa fa-microphone"></i>
							</div>
							<div title= "{{resourceBundle._('titleVideoStatus',ui.name,resourceBundle['titlestate'+ui.connectionStatus.video.in])}}"  class="statusBtn {{ui.connectionStatus.video.in}}">
								<i class="fa fa-video-camera"></i>
							</div>
							<div title= "{{resourceBundle._('titleScreenStatus',ui.name,resourceBundle['titlestate'+ui.connectionStatus.screen.in])}}" class="statusBtn {{ui.connectionStatus.screen.in}}">
								<i class="fa fa-desktop"></i>
							</div>
						</div>
					</div>
					<div class="userright">
						<h3>{{ui.ownerName}}</h3>
						<p class="room_owner">{{resourceBundle.roomowner}}</p>

						<a class="ownerupload" title="{{resourceBundle._('titleSendfiles',ui.ownerName)}}" href="" ng-show="ui.status && ui.status!='DISCONNECTED' && !ui.access.moderated" ng-click="openFileDialog('owner');">
							<i class="fa fa-cloud-upload"></i>
						</a>
						<div class="user_title" data-ng-show="ui.status.startsWith('OPENED')">{{resourceBundle.statusopen}}<span ng-show="ui.status.endsWith('RECORDING')"> [<i class="recording fa fa-circle fa-blink" title="{{resourceBundle.statusrecording}}"></i>]</span></div>
						<div class="user_title" data-ng-show="ui.status.startsWith('BROADCASTING')">{{resourceBundle.statusbroadcasting}}<span ng-show="ui.status.endsWith('RECORDING')"> [<i class="recording fa fa-circle fa-blink" title="{{resourceBundle.statusrecording}}"></i>]</span></div>
						<div class="user_title" data-ng-show="ui.status.startsWith('STOPPED')">{{resourceBundle.statusstopped}}<span ng-show="ui.status.endsWith('RECORDING')"> [<i class="recording fa fa-circle fa-blink" title="{{resourceBundle.statusrecording}}"></i>]</span></div>
						<div class="user_title" data-ng-show="ui.status=='DISCONNECTED'">{{resourceBundle.statusdisconnected}}</div>

						<ul class="filelist">
							<li data-ng-show="file.name!='' && !file.cleared" data-ng-repeat="file in ui.ownerFiles">

								<div class="file_direction">
									<i ng-show="file.direction=='upload'" class="fa fa-upload"></i>
									<i ng-show="file.direction=='download'" class="fa fa-download"></i>
								</div>
								<div class="file_description {{file.canceled ? 'file_canceled' :''}}">
									<span ng-hide="file.virtualURL"  class="file_name">{{file.name}}</span>
									<a target="_blank" ng-show="file.virtualURL" ng-href="{{file.virtualURL}}" download="{{file.name}}" class="file_name">{{file.name}}</a>
									<span ng-show="file.completed < 100"  class="file_percent"> {{file.completed}}%</span>
								</div>
								<div class="file_actions">
									<a title="{{resourceBundle._('titleCancelfile',file.name)}}" href="" ng-show="file.completed < 100 && !file.canceled" ng-click="cancelFile(ui.ownerConnectionId,file)"><i ng-show="file.completed < 100" class="fa fa-eject"  ></i></a>
									<a title="{{resourceBundle._('titleClearfile',file.name)}}"  ng-show="file.completed >= 100 || file.canceled==true" href="" ng-click="file.cleared=true"><i class="fa fa-trash-o"></i></a>
								</div>

							</li>
						</ul>

						<input ng-show="false" type="file" id="userfiles_owner" name="ownerfiles[]" multiple />
					</div>
				</div>
			</div>
			<div  ng-class="ui.getMiniClass('myself connected')">
				<div class="member">
					<div class="userleft">
						<img ng-src="{{ui.avatar}}">
					</div>
					<div class="userright">
						<h3 title="{{ui.name}}">{{ui.name}}</h3>
						<p class="room_me">{{resourceBundle.roomme}}</p>
						<a class="mechange" href="" title="{{resourceBundle.changemyidentity}}" ng-click="enableEditName()">
							<i class="fa fa-edit"></i>
						</a>

						<p class="toolbar" ng-show="ui.access.moderated && ui.status && ui.status!='DISCONNECTED'">
							<a title="{{resourceBundle._('titleAskforsharescreen',ui.ownerName)}}" href="" ng-click="askForSharing(ui.ownerConnectionId,'screen')"><i class="fa fa-desktop"></i></a>
							<a title="{{resourceBundle._('titleAskforsharevideo',ui.ownerName)}}" href="" ng-click="askForSharing(ui.ownerConnectionId,'video')"><i class="fa fa-video-camera"></i></a>
							<a title="{{resourceBundle._('titleAskforshareaudio',ui.ownerName)}}" href="" ng-click="askForSharing(ui.ownerConnectionId,'audio')"><i class="fa fa-microphone"></i></a>
						</p>
					</div>
				</div>
			</div>

			<ul ng-class="ui.getMiniClass('sharers connected')">
				<li class="member" data-ng-show="user.status == 'CONNECTED' && user.connectionId != ui.currentConnectionId" data-ng-repeat="user in ui.users">
					<div class="userleft">
						<img ng-src="{{user.avatar}}" title="{{user.name}}"/>
						<div class="statusOutBar {{showStatusBar(user)}} {{user.hideBarStatus}}" >
							<div title= "{{resourceBundle._('titleAudioStatusOut',user.name,resourceBundle['titlestate'+user.connectionStatus.audio.out])}}"  class="statusOutBtn {{user.connectionStatus.audio.out}}">
								<i class="fa fa-volume-up"></i>
							</div>
							<div title= "{{resourceBundle._('titleVideoStatusOut',user.name,resourceBundle['titlestate'+user.connectionStatus.video.out])}}"  class="statusOutBtn {{user.connectionStatus.video.out}}">
								<i class="fa fa-eye"></i>
							</div>
							<div title= "{{resourceBundle._('titleScreenStatusOut',user.name,resourceBundle['titlestate'+user.connectionStatus.screen.out])}}" class="statusOutBtn {{user.connectionStatus.screen.out}}">
								<i class="fa fa-laptop"></i>
							</div>
						</div>
						<div class="statusBar" >
							<div title= "{{resourceBundle._('titleAudioStatus',user.name,resourceBundle['titlestate'+user.connectionStatus.audio.in])}}"  class="statusBtn {{user.connectionStatus.audio.in}}">
								<i class="fa fa-microphone"></i>
							</div>
							<div title= "{{resourceBundle._('titleVideoStatus',user.name,resourceBundle['titlestate'+user.connectionStatus.video.in])}}"  class="statusBtn {{user.connectionStatus.video.in}}">
								<i class="fa fa-video-camera"></i>
							</div>
							<div title= "{{resourceBundle._('titleScreenStatus',user.name,resourceBundle['titlestate'+user.connectionStatus.screen.in])}}" class="statusBtn {{user.connectionStatus.screen.in}}">
								<i class="fa fa-desktop"></i>
							</div>
						</div>
					</div>
					<div class="userright">
						<h3 title="{{user.name}}">{{user.name}}</h3>
					</div>
				</li>
			</ul>

		</aside>
		<section id="dashboard" ng-class="[ui.dashConn,ui.dashChat]">
			<p id="minimizedPlace" ng-class="[ui.dashConn,ui.dashChat]" />
			<p id="wikihelp" ng-class="[ui.dashConn,ui.dashChat]">
				<a href="{{resourceBundle.wikilink}}" target="_blank">?</a>
				<span class="titled">{{resourceBundle.wikihelp}}</span>
			</p>
			<div id="remoteAudios" ></div>
			<div id="remoteVideos" >
				<wmwindow title="{{window.title}}"  maximizetitle="{{window.maximizeTitle}}" minimizetitle="{{window.minimizeTitle}}"  restoretitle="{{window.restoreTitle}}" closetitle="{{window.closeTitle}}" open="window.open"  close="window.close" maximize="window.maximize" restore="window.restore" selectwindow="window.selectwindow" closeable="{{window.closeable}}" options="{{window.options}}" data-ng-repeat="window in windows" >
					<video></video>
				</wmwindow>
			</div>
			<article class="creator_message" data-ng-show="ui.joinable==false && ui.locked==false">
				<h1>{{resourceBundle.roomisinactive}}</h1>
				<h6 data-ng-show="ui.permanent">{{resourceBundle.permanentReload}}</h6>
			</article>
			<article class="creator_message" data-ng-show="ui.joinable==false && ui.locked==true">
				<h1>{{resourceBundle.roomislocked}}</h1>
			</article>
			<article class="creator_message" data-ng-show="ui.joinable==true && !ui.status.startsWith('BROADCASTING')">
				<h1 data-ng-show="!isValidBrowser()">{{resourceBundle.browsernotsupported}}</h1>
				<div data-ng-show="isValidBrowser()">
					<h1>{{resourceBundle.welcomeloowidbox}}</h1>
					<div ng-show="ui.passNeeded">
						<form ng-submit="addPassword()" novalidate>
							<p>
								<label for="tpwd">{{resourceBundle.roomprotected}}</label>
								<input id="tpwd" type="password" ng-model="ui.roomPassword" size="15" ng-minlength="3" ng-maxlength="20" required/>
							</p>
						</form>
					</div>
					<h5 ng-show="ui.sendingPwd">{{resourceBundle.passwordsend}}</h5>
					<h5 ng-show="ui.connectionError">{{resourceBundle.passwordincorrect}}</h5>
				</div>
			</article>
		</section>
		<div id="error" ng-class="errorClass" ng-click="hideError()"><div class="error"><h3<h3 ng-bind-html="errorMessage"></h3></div></div>
		<aside id="chat" ng-class="ui.chatClass">
			<span title="{{resourceBundle.titleOpenclosechat}}" class="toggler" ng-click="toggleChat()"><i class="fa fa-angle-right"></i></span>
			<span title="{{resourceBundle.titleChatTip}}" class="chatTip" ng-click="chatTip()"><i class="twa twa-lg twa-information-source"></i></span>
			<span title="{{ui.speechVoice.name}}" class="chatTip" ng-click="changeSpeechVoice()" ng-show="ui.speechEnabled"><i class="twa twa-lg twa-speaker"></i></span>
			<form data-ng-submit="sendMessage()">
				<fieldset id="chat_form">
					<input type="text" ng-hide="ui.access.chat" data-ng-model="ui.messageText" id="text_chat" placeholder="{{resourceBundle.sendamessge}}" data-ng-change="sendTyping()" autofocus>
					<span ng-show="ui.access.chat">{{resourceBundle.disablechat}}</span>
				</fieldset>
			</form>
			<div id="chat_container">
				<div class="spinner" ng-show="ui.chatLoading">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
				<ol id="chat_discussion" class="discussion" scroll-glue>
					<li ng-class="msg.class" ng-repeat="msg in ui.messages">
						<div class="avatar"><img ng-src="{{getUser(msg.id).avatar}}" /></div>
						<div class="messages">
							<p ng-repeat="sitem in msg.list track by $index">
								<span ng-repeat="obj in sitem.embed track by $index">
									<span ng-show="obj.type==='edoc'" class="edoc">
										<a id="{{obj.id}}" href="#"><img title="{{obj.title}}" ng-src="{{obj.thumbnail}}"/>
											<i title="{{obj.title}}" ng-class="{'fa':true,'thicon':true,'fa-caret-square-o-right':true,'black':obj.fablack,'white':obj.fawhite}"></i>
											<span ng-show="obj.link">{{obj.link}}</span>
										</a>
										&nbsp;
										<a ng-show="obj.link" href="{{obj.link}}" target="_blank">
											<i title="{{resourceBundle.titleOpenNewTab}}" class="fa fa-external-link"> </i>
										</a>
									</span>
									<span ng-show="obj.type==='oembed'">
										<span ng-show="obj.loading" class="spinner"><span class="bounce1"></span><span class="bounce2"></span><span class="bounce3"></span></span>
										<span ng-show="obj.ready" class="evideo">
											<a id="{{obj.idv}}" href="#">
												<img title="{{obj.title}}" ng-src="{{obj.thumbnail}}" width="100%" height="100%"  data-videoid="{{obj.videoid}}"/>
												<i title="{{obj.title}}" class="fa thicon fa-play-circle"></i>
												<span ng-show="obj.link">{{obj.link}}</span>
											</a>
											&nbsp;

											<a ng-show="obj.link" href="{{obj.link}}" target="_blank">
												<i title="{{resourceBundle.titleOpenNewTab}}" class="fa fa-external-link"> </i>
											</a>
										</span>
									</span>
								</span>
								<span ng-repeat="item in sitem.list track by $index">
									<a ng-show="item.type==='link' && sitem.embed.length <=0" href="{{item.to}}" target="_blank">{{item.text}}</a>
									<span ng-show="item.type==='text'">{{item.text}}</span>
									<span ng-show="item.type==='emoji'"><i title="{{item.base}}" ng-class="item.twaclass" ng-click="item.base === ':sound:' && changeSound($event)"></i></span>
								</span>
							</p>
							<div class="spinner" ng-show="msg.istyping">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
							<time datetime="{{msg.time}}">{{getUser(msg.id).name}} · {{timeAgo(msg.time)}}</time>
						</div>
					</li>
				</ol>
			</div>
		</aside>
	</div>
</div>
