<div id="webrtcstats" data-ng-controller="StatsController" data-ng-init="initWebRTCStatistics()">
	<section id="starred">

		<h1>{{resourceBundle.webrtcstats}}</h1>
		<hr/>
		<nav class="toolbar">
			<ul>

				<li ng-hide="selectedSource=='screen'" ><p ng-click="selectTab('screen')"><i class="fa fa-desktop"></i> <span class="title">{{resourceBundle.screentab}}</span></p></li>
				<li ng-show="selectedSource=='screen'" ><p class="selected"><i class="fa fa-desktop"></i> <span class="title">{{resourceBundle.screentab}}</span></p></li>
				<li ng-hide="selectedSource=='video'" ><p ng-click="selectTab('video')"><i class="fa fa-video-camera"></i> <span class="title">{{resourceBundle.videotab}}</span></p></li>
				<li ng-show="selectedSource=='video'" ><p class="selected"><i class="fa fa-video-camera"></i> <span class="title">{{resourceBundle.videotab}}</span></p></li>
				<li ng-hide="selectedSource=='audio'" ><p ng-click="selectTab('audio')"><i class="fa fa-microphone"></i> <span class="title">{{resourceBundle.audiotab}}</span></p></li>
				<li ng-show="selectedSource=='audio'" ><p class="selected"><i class="fa fa-microphone"></i> <span class="title">{{resourceBundle.audiotab}}</span></p></li>
			</ul>
		</nav>



		<div class="grapharea" ng-show="selectedSource==='screen'">
			<p ng-show="graphscreen.nodes.length > 0"><sigmajs ondragstarts="onStartDraggingNode" ondragends="onEndDraggingNode" graph="graphscreen" width="100%" height="400px" releative-size-node="false"></sigmajs></p>
			<p class="message" ng-hide="graphscreen.nodes.length > 0"><span>{{resourceBundle.dataconnectionunavailable}}</span></p>
		</div>
		<div class="grapharea" ng-show="selectedSource==='video'">
			<p ng-show="graphvideo.nodes.length > 0"><sigmajs  ondragstarts="onStartDraggingNode" ondragends="onEndDraggingNode" graph="graphvideo" width="100%" height="400px" releative-size-node="false"> </sigmajs></p>
			<p class="message" ng-hide="graphvideo.nodes.length > 0"><span>{{resourceBundle.dataconnectionunavailable}}</span></p>
		</div>
		<div class="grapharea" ng-show="selectedSource==='audio'">
			<p ng-show="graphaudio.nodes.length > 0"><sigmajs  ondragstarts="onStartDraggingNode" ondragends="onEndDraggingNode" graph="graphaudio" width="100%" height="400px" releative-size-node="false"> </sigmajs></p>
			<p class="message" ng-hide="graphaudio.nodes.length > 0"><span>{{resourceBundle.dataconnectionunavailable}}</span></p>
		</div>
<hr/>
		<br />
		<div class="legend">
			<strong>{{resourceBundle.nodes}} </strong>
			<nav class="toolbar">
				<ul>
					<li>
						<p>
						<i class="colorsquare" style="background-color: {{colors.userConnected}};" ></i><span class="title"> {{resourceBundle.connectedusers}}</span></p></li><li><p><i class="colorsquare" style="background-color: {{colors.userDisconnected}};" ></i> <span class="title"> {{resourceBundle.disconnectedusers}}	</span>
							(<a ng-hide="showDisconnected" ng-click="changeDisconnectedVisibility()">{{resourceBundle.showDisconnected}}</a>
							<a ng-show="showDisconnected" ng-click="changeDisconnectedVisibility()">{{resourceBundle.hideDisconnected}}</a>)
						</p>
					</li>
				</ul>
			</nav>
		</div>
		<div class="legend">
			<strong>{{resourceBundle.edges}}</strong>
			<nav class="toolbar">
				<ul>
					<li ng-repeat="(id, rtcstatuscolor) in edgeColors"><p><i class="colorsquare" style="background-color: {{rtcstatuscolor}};" ></i><span class="title"> {{id}}</span></p></li>
				</ul>
			</nav>
		</div>

		<br />
	</section>
</div>
