<div id="home" data-ng-controller="StatsController" data-ng-init="initWebRTCStatistics()">
	<section id="starred">
		<h1>{{resourceBundle.statistics}}</h1>
		<h2>Screen connections</h2>
		<p><sigmajs  graph="graphscreen" width="100%" height="200px" releative-size-node="false"></sigmajs></p>
		<h2>Video connections</h2>
		<p><sigmajs  graph="graphvideo" width="100%" height="200px" releative-size-node="false"> </sigmajs></p>
		<h2>Audio connections</h2>
		<p><sigmajs  graph="graphaudio" width="100%" height="200px" releative-size-node="false"> </sigmajs></p>
	</section>
</div>