!!! 5
html
  include ../includes/head
  body
    //-header.container(data-ng-include="'views/header.html'", data-role="navigation")
    include ../includes/noscript
    block content
    //-footer.container(data-ng-include="'views/footer.html'", data-role="footer")
    include ../includes/foot
    
